@import "../../public/init.scss";

#authors {
    img {
        margin-top: -50px;
    }

    
    .card:hover {
        background: $primary;
        color: #fff;
        
    }

    .card:hover .icon {
         color: #fff;
    }

    .fab {
        color: #fff;
    }


}