@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  overflow-x: hidden;
  background-image: url('./img/dust_scratches.png');
  background-repeat: repeat;
  font-family: 'Anton', sans-serif, 'Jeju Gothic', sans-serif;
  margin: 0px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  .main {
    margin-left: 220px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
}
